<% @settings_nav = 'active' %>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span6 offset3">
      <%= simple_form_for(@user, 
                          :url => { :action => 'update_password' },
                          :html => { :method => :put, :class => 'form-horizontal well' }) do |f| %>
        <fieldset>
          <legend>Change Password</legend>
          <% if notification = f.error_notification %>
            <div class="alert alert-error fade in">
              <a class="close" data-dismiss="alert" href="#">&times;</a>
              <%= notification %>
            </div>
          <% end %>
          <%= f.input :current_password, :required => true, :label => 'Current Password', :input_html => {:class => 'input-large'} %>
          <%= f.input :password, :required => true, :input_html => {:class => 'input-large'} %>
          <%= f.input :password_confirmation, :required => true, :label => 'Confirm Passwod', :input_html => {:class => 'input-large'} %>
          <div class="control-group">
            <div class="controls">
              <%= f.button :submit, 'Update', :class => 'btn btn-primary' %>
              <%= link_to 'Cancel', edit_user_registration_path, :class => 'btn btn-danger' %>
            </div>
          </div>
        </fieldset>
      <% end %>
    </div>
  </div>
</div>
