<div class="tab-pane span10" id="macintosh-version-tab">
  <!-- Macintosh Google Chrome Browser Plugin Versions -->
  <h3><img src="/assets/icon_chrome_48x48.png" border="">&nbsp;&nbsp;Google Chrome</h3>
  <table class="span10 well" cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="exploitable-flash-table">
    <thead>
      <tr>
        <th>Software</th>
        <th>Current Version</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <img src="/assets/icon_devalvr.png" border="0">
          &nbsp;&nbsp;DevalVR
        </td>
        <td>
          <%= SOFTWARE["macintosh"]["chrome"]["ao_devalvr"]  %>
        </td>
      </tr>
      <tr>
        <td>
          <img src="/assets/icon_flash.png" border="0">
          &nbsp;&nbsp;Adobe Flash
        </td>
        <td>
          <%= SOFTWARE["macintosh"]["chrome"]["ao_flash"].gsub(",",".")  %>
        </td>
      </tr>
      <tr>
        <td>
          <img src="/assets/icon_java.png" border="0">
          &nbsp;&nbsp;Oracle Java
        </td>
        <td>
          <%= SOFTWARE["macintosh"]["chrome"]["ao_java"].gsub(",",".")  %>
        </td>
      </tr>
      <tr>
        <td>
          <img src="/assets/icon_quicktime.png" border="0">
          &nbsp;&nbsp;Apple Quicktime
        </td>
        <td>
          <%= SOFTWARE["macintosh"]["chrome"]["ao_qt"].gsub(",",".")  %>
        </td>
      </tr>
      <tr>
        <td>
          <img src="/assets/icon_reader.png" border="0">
          &nbsp;&nbsp;Adobe Reader
        </td>
        <td>
          <%= SOFTWARE["macintosh"]["chrome"]["ao_reader"].gsub(",",".")  %>
        </td>
      </tr>
      <tr>
        <td>
          <img src="/assets/icon_realplayer.png" border="0">
          &nbsp;&nbsp;RealPlayer
        </td>
        <td>
          <%= SOFTWARE["macintosh"]["chrome"]["ao_realplayer"]  %>
        </td>
      </tr>
      <tr>
        <td>
          <img src="/assets/icon_shockwave.png" border="0">
          &nbsp;&nbsp;Shockwave
        </td>
        <td>
          <%= SOFTWARE["macintosh"]["chrome"]["ao_shockwave"] %>
        </td>
      </tr>
      <tr>
        <td>
          <img src="/assets/icon_silverlight.png" border="0">
          &nbsp;&nbsp;Microsoft Silverlight
        </td>
        <td>
          <%= SOFTWARE["macintosh"]["chrome"]["ao_silver"].gsub(",",".") %>
        </td>
      </tr>
      <tr>
        <td>
          <img src="/assets/icon_vlc.png" border="0">
          &nbsp;&nbsp;VLC Media Player
        </td>
        <td>
          <%= SOFTWARE["macintosh"]["chrome"]["ao_vlc"] %>
        </td>
      </tr>
      <tr>
        <td>
          <img src="/assets/icon_wmp.png" border="0">
          &nbsp;&nbsp;Windows Media Player
        </td>
        <td>
          <%= SOFTWARE["macintosh"]["chrome"]["ao_wmp"] %>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- Macintosh Mozilla Firefox Browser Plugin Versions -->
  <h3><img src="/assets/icon_firefox_48x48.png" border="">&nbsp;&nbsp; Mozilla Firefox</h3>
  <table class="span10 well" cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="exploitable-flash-table">
    <thead>
      <tr>
        <th>Software</th>
        <th>Current Version</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <img src="/assets/icon_devalvr.png" border="0">
          &nbsp;&nbsp;DevalVR
        </td>
        <td>
          <%= SOFTWARE["macintosh"]["firefox"]["ao_devalvr"]  %>
        </td>
      </tr>
      <tr>
        <td>
          <img src="/assets/icon_flash.png" border="0">
          &nbsp;&nbsp;Adobe Flash
        </td>
        <td>
          <%= SOFTWARE["macintosh"]["firefox"]["ao_flash"].gsub(",",".")  %>
        </td>
      </tr>
      <tr>
        <td>
          <img src="/assets/icon_java.png" border="0">
          &nbsp;&nbsp;Oracle Java
        </td>
        <td>
          <%= SOFTWARE["macintosh"]["firefox"]["ao_java"].gsub(",",".")  %>
        </td>
      </tr>
      <tr>
        <td>
          <img src="/assets/icon_quicktime.png" border="0">
          &nbsp;&nbsp;Apple Quicktime
        </td>
        <td>
          <%= SOFTWARE["macintosh"]["firefox"]["ao_qt"].gsub(",",".")  %>
        </td>
      </tr>
      <tr>
        <td>
          <img src="/assets/icon_reader.png" border="0">
          &nbsp;&nbsp;Adobe Reader
        </td>
        <td>
          <%= SOFTWARE["macintosh"]["firefox"]["ao_reader"].gsub(",",".")  %>
        </td>
      </tr>
      <tr>
        <td>
          <img src="/assets/icon_realplayer.png" border="0">
          &nbsp;&nbsp;RealPlayer
        </td>
        <td>
          <%= SOFTWARE["macintosh"]["firefox"]["ao_realplayer"]  %>
        </td>
      </tr>
      <tr>
        <td>
          <img src="/assets/icon_shockwave.png" border="0">
          &nbsp;&nbsp;Shockwave
        </td>
        <td>
          <%= SOFTWARE["macintosh"]["firefox"]["ao_shockwave"] %>
        </td>
      </tr>
      <tr>
        <td>
          <img src="/assets/icon_silverlight.png" border="0">
          &nbsp;&nbsp;Microsoft Silverlight
        </td>
        <td>
          <%= SOFTWARE["macintosh"]["firefox"]["ao_silver"].gsub(",",".") %>
        </td>
      </tr>
      <tr>
        <td>
          <img src="/assets/icon_vlc.png" border="0">
          &nbsp;&nbsp;VLC Media Player
        </td>
        <td>
          <%= SOFTWARE["macintosh"]["firefox"]["ao_vlc"] %>
        </td>
      </tr>
      <tr>
        <td>
          <img src="/assets/icon_wmp.png" border="0">
          &nbsp;&nbsp;Windows Media Player
        </td>
        <td>
          <%= SOFTWARE["macintosh"]["firefox"]["ao_wmp"] %>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- Safari Browser Plugin Versions -->
  <h3><img src="/assets/icon_safari_48x48.png" border="">&nbsp;&nbsp; Apple Safari</h3>
  <table class="span10 well" cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="exploitable-flash-table">
    <thead>
      <tr>
        <th>Software</th>
        <th>Current Version</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <img src="/assets/icon_devalvr.png" border="0">
          &nbsp;&nbsp;DevalVR
        </td>
        <td>
          <%= SOFTWARE["macintosh"]["safari"]["ao_devalvr"]  %>
        </td>
      </tr>
      <tr>
        <td>
          <img src="/assets/icon_flash.png" border="0">
          &nbsp;&nbsp;Adobe Flash
        </td>
        <td>
          <%= SOFTWARE["macintosh"]["safari"]["ao_flash"].gsub(",",".")  %>
        </td>
      </tr>
      <tr>
        <td>
          <img src="/assets/icon_java.png" border="0">
          &nbsp;&nbsp;Oracle Java
        </td>
        <td>
          <%= SOFTWARE["macintosh"]["safari"]["ao_java"].gsub(",",".")  %>
        </td>
      </tr>
      <tr>
        <td>
          <img src="/assets/icon_quicktime.png" border="0">
          &nbsp;&nbsp;Apple Quicktime
        </td>
        <td>
          <%= SOFTWARE["macintosh"]["safari"]["ao_qt"].gsub(",",".")  %>
        </td>
      </tr>
      <tr>
        <td>
          <img src="/assets/icon_reader.png" border="0">
          &nbsp;&nbsp;Adobe Reader
        </td>
        <td>
          <%= SOFTWARE["macintosh"]["safari"]["ao_reader"].gsub(",",".")  %>
        </td>
      </tr>
      <tr>
        <td>
          <img src="/assets/icon_realplayer.png" border="0">
          &nbsp;&nbsp;RealPlayer
        </td>
        <td>
          <%= SOFTWARE["macintosh"]["safari"]["ao_realplayer"]  %>
        </td>
      </tr>
      <tr>
        <td>
          <img src="/assets/icon_shockwave.png" border="0">
          &nbsp;&nbsp;Shockwave
        </td>
        <td>
          <%= SOFTWARE["macintosh"]["safari"]["ao_shockwave"] %>
        </td>
      </tr>
      <tr>
        <td>
          <img src="/assets/icon_silverlight.png" border="0">
          &nbsp;&nbsp;Microsoft Silverlight
        </td>
        <td>
          <%= SOFTWARE["macintosh"]["safari"]["ao_silver"].gsub(",",".") %>
        </td>
      </tr>
      <tr>
        <td>
          <img src="/assets/icon_vlc.png" border="0">
          &nbsp;&nbsp;VLC Media Player
        </td>
        <td>
          <%= SOFTWARE["macintosh"]["safari"]["ao_vlc"] %>
        </td>
      </tr>
      <tr>
        <td>
          <img src="/assets/icon_wmp.png" border="0">
          &nbsp;&nbsp;Windows Media Player
        </td>
        <td>
          <%= SOFTWARE["macintosh"]["safari"]["ao_wmp"] %>
        </td>
      </tr>
    </tbody>
  </table>
 </div>
