<!DOCTYPE HTML>
<html>
  <%= render 'layouts/html_head' %>
  <body>
    <div class="container">
      <%= render 'layouts/header' %>
      <% if user_signed_in? %>
        <%= render 'layouts/navigation' %>
      <% end %>
      <div class="row">
        <%= yield %>
      </div>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
